.weather {
   width: 100%;
   padding: 32px;
   border-bottom: 1px solid var(--grey-400);
}
.rainy {
   width: 100%;
   padding: 32px;
   border-bottom: 1px solid var(--grey-400);
   color: var(--red-50);
   background: var(--red-900);
}
.weather--stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.right-items {
   text-align: right;
}
.chances-of-rain {
   display: flex;
   align-items: flex-end;
   gap: 4px;
}
